@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');


body {
/* background: #DFC2F2;
	
	background-attachment: fixed;	
	background-size: cover; */
    background-image: url("https://i.ibb.co/MMjnHvp/2447.png");
    background-repeat: repeat;
    /* overflow: hidden; */
    overflow-x: hidden;
  
	}

#container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(241, 228, 254, 0.9);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 500px;
	width: 700px;
  
	
}

a{
    text-decoration: none;
}

.material-symbols-rounded {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
  ;
  color: #230158;
  background-color: white ;
  position: absolute;
  top:2vw;
  left: 2vw;
  transform: scale(1.6);
  cursor: pointer;
  text-decoration: none;
}


h3{
    font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	/* font-size: 30px; */
	color: #230158;
	margin: 0;
}

.info1{
    position: relative;
    /* bottom:2vw; */
    font-family: "montserrat";
    color:#370167;

}


.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

#container .product-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #230158;
	margin: 0;
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: "montserrat";
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}



	


.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


#container .product-details > p {
font-family: 'montserrat';
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	
}
.control{
	position: relative;
	/* bottom: 20%; */
	/* left: 22.8%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
	
}
.btn {

	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #c280ff;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}

.btn:hover{transform: translateY(-6px);
	background: #370167;}

.btn span {
	font-family: "montserrat";
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1em;
	margin:0;
	
}
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

.btn .buy {z-index: 3; font-weight: bolder;}

/* .btn:hover .price {transform: translateX(-110%);} */

/* .btn:hover .shopping-cart {transform: translateX(0%);} */



.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
    top:2vw;
	overflow: hidden;
	/* height: 100%; */
	/* float: right; */
	/* width: 45%; */
    height:70%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(41, 0, 90, 0.9);
    font-family: "montserrat";
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

#connect-button {
    border: solid 2px rgb(249, 247, 247);
    font-size:1vw;
    /* padding: 20px 40px 20px 70px; */
    background: #2f004e;
    /* background-image: url("mm.png"); */
    /* background-size: 40px; */
    background-repeat: no-repeat;
    background-position: 20px;
    font-weight: bold;
    color: #fff;
    /* box-shadow: inset 2px 2px 0 #fff, 0 8px 10px -4px rgba(0,0,0,0.4); */
    cursor: pointer;
    transition: all 0.4s ease;
    padding:0.5vw;
    padding-left: 0.2vw;
    margin:0.5vw;
    border-radius: 1vw;
    font-family: "montserrat";
  }
  .pay-button {
    border: solid 2px #444;
    border-radius: 1vw;
    font-size:1vw;
    /* padding: 20px 40px 20px 70px; */
    background: #ffffff;
    /* background-image: url("s.png"); */
    /* background-size: 40px; */
    background-repeat: no-repeat;
    background-position: 20px;
    font-weight: bold;
    color: #585858;
    /* box-shadow: inset 2px 2px 0 #fff, 0 8px 10px -4px rgba(0,0,0,0.4); */
    cursor: pointer;
    transition: all 0.4s ease;
    padding:0.5vw;
    font-family: "montserrat";
    padding-left: 0.2vw;
    /* margin:1vw; */
  }