body{
    background-image: url("https://i.ibb.co/MMjnHvp/2447.png");
    background-repeat: repeat;
}

hr{
    background-color: #1a013a;
    color: #1a013a;
    /* border-style: inset; */
    /* border-width: 2px;; */
}
h1{
    font-family: "bebas neue";
    font-size: 1.2vw;
    margin: 0.5vw;
    margin-left: 0.5vw;
    color: #470280;
}
.nav2{
    background-color: white;
}
.navitem{
    font-family: "montserrat";
    font-size: 1vw; 
    padding-left: 2vw;
    color: #470280;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.wallet{
    
    display: flex;
    /* right: 2vw; */
    position: relative;
    left:49vw;
    /* right:5vw; */
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    border-radius: 20px;
    background-color: #470280;
    border-color: #470280;
    margin-top: 0.5vw;
    color:white;
    font-family: "montserrat";
}

.wallet:hover {
    background-color: #32015a; 
    color: white;
    cursor: pointer;
}

nav{
    /* display: block; */
    /* background: rgb(58, 1, 101); */
    padding: 0.7vw;
    position: relative ;
    display: flex;
    justify-content: center;
    left: 20vw;
    font-family: "montserrat";
    font-size: 1vw; 
    padding-left: 2vw;   
    /* flex-direction: row; */
}
.left{
    display: flex;
    flex-direction: row;
}

.logo{
    width: 2vw;
    height: 2vw;
    padding: 0.2vw;
}

.header{
    display: flex;
    align-content: center;
    justify-content: flex-start;
    background-color: white;
    padding: 0.8%;
    margin: 0;
    border: 0;
    /* background-color: rgb(70, 70, 70); */
}

.landing_page_text{
    font-family: "BEBAS NEUE";
    font-weight: bolder;
    font-size: 6VW;
    color: #32015a;
    padding: 1%;
}

.landingpage{
    
    
    /* justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    margin: 0%;
    border: 0ch;
    background-repeat: repeat-y;
    /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.landingpg_img{
    width: 40vw;
    height: 40vw;
    position: relative;
    left: 2.2vw;
    /* background-color: white; */
}

.main{
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    border-radius: 20px;
    background-color: #470280;
    border-color: #470280;
    margin-top: 2vw;
    color:white;
    font-family: "montserrat";
    position: absolute;
    top: 35vw;
    left: 1vw;
    font-size: 1.2vw;

}
.main:hover {
    background-color: #32015a; 
    color: white;
    cursor: pointer;
}

.text_head{
    font-family: "bebas neue";
    position: absolute;
    left: 1vw;
    top:43vw;
    font-size: 4vw;
    color: #470280;
    margin-top: 3vw;

}
.text_head_2{
    font-family: "bebas neue";
    position: absolute;
    left: 1vw;
    top:75vw;
    font-size: 4vw;
    color: #470280;
    margin-top: 3vw;

}

.text_head_3{
    font-family: "bebas neue";
    position: absolute;
    left: 1vw;
    top:108vw;
    font-size: 4vw;
    color: #470280;
    margin-top: 3vw;
}

  @keyframes down-btn {
    0% { bottom:20px; }    
    100% { bottom:0px; }

    0% { opacity:0; }    
    100% { opaicty:1; }
}

@-webkit-keyframes down-btn {
    0% { bottom:20px; }    
    100% { bottom:0px; }

    0% { opacity:0; }    
    100% { opaicty:1; }
}

@-moz-keyframes down-btn {
    0% { bottom:20px; }    
    100% { bottom:0px; }

    0% { opacity:0; }    
    100% { opaicty:1; }
}

@-o-keyframes down-btn {
    0% { bottom:20px; }    
    100% { bottom:0px; }

    0% { opacity:0; }    
    100% { opaicty:1; }
}

body {
    margin:0;
}

.category-name {
    font-family: sans-serif;
    width: -webkit-fill-available;
    text-align: center;
    font-size: 40px;
}

.card-category-1{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
    font-family: sans-serif;
    margin-bottom: 45px;
    text-align: center;
    justify-items: flex-start;
    margin: 1vw;
    gap: 3vw;
    /* padding: 2vw;     */
}
    /* .card-category-1 div{
        
       
    } */

    .card-category-1 > div, .card-category-2 > div:not(:last-child) {
        margin: 10px 5px;
        text-align: left;
    }

    /* Basic Card */
    .basic-card {
        /* margin-right:4vw ; */
        width:300px;
        height: 325px;
        position: relative;
        top: 6vw;
        /* margin: 5vw; */
        /* right: 2vw; */
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
    }
    
        .basic-card .card-content {
            padding: 30px;
        }

        .basic-card .card-title {
            font-size: 25px;
            font-family: "bebas neue";
            font-weight: bold;
        }

        .basic-card .card-text {
            line-height: 1.6;
            font-family: "montserrat";


        }

        .basic-card .card-link {
            padding: 25px;
            width: -webkit-fill-available;
        }

            .basic-card .card-link a {
                text-decoration: none;
                position: relative;
                padding: 10px 0px;
                font-family: "Montserrat";
            }

            .basic-card .card-link a:after {
                top: 200px;
                content: "";
                display: block;
                height: 2px;
                left: 10%;
                position: absolute;
                width: 0;
                margin: 2vw;

                -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
            }

            .basic-card .card-link a:hover:after { 
                width: 100%; 
                left: 0; 
            }
    
    
    .basic-card-aqua {
        background-color: rgb(254, 254, 254);
        margin-left: 5vw;
        margin-right: 2vw;
        border-radius: 1vw;
        border:1px solid #32015a;
        /* padding: 2vw;; */
    }

        .basic-card-aqua .card-content, .basic-card .card-link a {
            color: #27024c;
        }
        
        .basic-card-aqua .card-link {
            border-top:1px solid #39017a;
        }

            .basic-card-aqua .card-link a:after {
                background:#fff;
            }

.basic-card-1 {
                /* margin-right:4vw ; */
                width:300px;
                height: 325px;
                position: relative;
                top: 12vw;
                /* margin: 5vw; */
                /* right: 2vw; */
                -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
                -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
                -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
                box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
            }
            
                .basic-card-1 .card-content {
                    padding: 30px;
                }
        
                .basic-card-1 .card-title {
                    font-size: 25px;
                    font-family: "bebas neue";
                    font-weight: bold;
                }
        
                .basic-card-1 .card-text {
                    line-height: 1.6;
                    font-family: "montserrat";
        
        
                }
            .basic-card-aqua {
                background-color: rgb(236, 214, 251);
                margin-left: 5vw;
                margin-right: 2vw;
                border-radius: 1vw;
                border:1px solid #32015a;
                /* padding: 2vw;; */
            }
        
                .basic-card-aqua .card-content, .basic-card .card-link a {
                    color: #1a013a;
                }
                
                
                .basic-card-2 {
                    /* margin-right:4vw ; */
                    width:300px;
                    height: 325px;
                    position: relative;
                    top: 12vw;
                    /* margin: 5vw; */
                    /* right: 2vw; */
                    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
                    -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
                    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
                }
                
                    .basic-card-2 .card-content {
                        padding: 30px;
                    }
            
                    .basic-card-2 .card-title {
                        font-size: 25px;
                        font-family: "bebas neue";
                        font-weight: bold;
                    }
            
                    .basic-card-2 .card-text {
                        line-height: 1.6;
                        font-family: "montserrat";
            
            
                    }
            
                    .basic-card-2 .card-link {
                        padding: 25px;
                        width: -webkit-fill-available;
                    }
            
                        .basic-card-2 .card-link a {
                            text-decoration: none;
                            position: relative;
                            padding: 10px 0px;
                            font-family: "Montserrat";
                        }
            
                        .basic-card-2 .card-link a:after {
                            top: 200px;
                            content: "";
                            display: block;
                            height: 2px;
                            left: 10%;
                            position: absolute;
                            width: 0;
                            margin: 2vw;
            
                            -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            -o-transition: width 0.3s ease 0s, left 0.3s ease 0s;
                            transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        }
            
                        .basic-card-2 .card-link a:hover:after { 
                            width: 100%; 
                            left: 0; 
                        }
                
                
                .basic-card-aqua {
                    background-color: rgb(254, 254, 254);
                    margin-left: 5vw;
                    margin-right: 2vw;
                    border-radius: 1vw;
                    border:1px solid #32015a;
                    /* padding: 2vw;; */
                }
            
                    .basic-card-aqua .card-content, .basic-card .card-link a {
                        color: #27024c;
                    }
                    
                    .basic-card-aqua .card-link {
                        border-top:1px solid #39017a;
                    }
            
                        .basic-card-aqua .card-link a:after {
                            background:#fff;}


#img1{
    width: 25vw;
    height: 25vw;
    position: relative;
    top: 4vw;
}

#img2{
    width: 28vw;
    height: 28vw;
    position: relative;
    top: 9vw;
}

#img3{
    width: 26vw;
    height: 26vw;
    position: relative;
    top: 8vw;
}

.footer {
    position: relative;
    top: 8vw;
    width: 100%;
    height: 100%;
    background-color: rgb(45, 1, 70);
    color: white;
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.address{
    font-family: "montserrat";
    position: relative;
    /* left: 1vw; */
    right: 3vw;;
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
    justify-items: center;
    justify-self: center;
}

.feedback{
    font-family: "montserrat";
    position: relative;
    /* left: 1vw; */
    right: 4vw;

}

.contact{
    font-family: "montserrat";
    position: relative;
    bottom: 0.4vw;
    left: 1.3vw;
    /* padding: 1vw;; */
    margin:0;
}
.contact-1{
    font-size: 1.5vw;
    font-weight: bold;
    position: relative;
    left: 1.2vw;
}


.material-symbols-rounded {
    font-size: 1vw;;
    font-family: "montserrat";
    font-variation-settings:
    'FILL' 1,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48;
    display: flex;
    padding-bottom: 1vw;
    position: relative;
    left: 1vw;
}


    